.btn.col-4 {
    margin-top: 10px;
}

#signup {
    float: right;
}

.alert {
    margin-top: 2.75rem;
}

.form-control {
    margin: 0.5rem 0 0.5rem 0;
}

.form-inline {
    justify-content: center;
}

/* The entire user card */
#usercard {
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

/* User information in the list */
.userinfo {
    font-family: 'Gloria Hallelujah', cursive;
}

#ytbImage {
    border: 2px dashed #83cee0;
    display: block;
    margin: 1.75rem auto;
}