.jumbotron {
    background-image: url("https://cambriausa.widen.net/content/ldydi1h7kw/webp/Salt%20lake_Gensler_4x4_600x600_20.jpg.webp?crop=true&keep=c&color=ffffff00&u=s5d92w&w=600&h=600")
}

a:hover {
    cursor: pointer;
}
li:hover {
    background-color:grey;
}

.btn.col-4 {
    margin-top: 10px;
}

.header-btn {
    float: right;
    margin: 0.75rem 1.95rem 0 0;
}

.alert {
    margin-top: 2.75rem;
}

.form-control {
    margin: 0.5rem 0 0.5rem 0;
}

.form-inline {
    justify-content: center;
}

/* The entire user card */
#usercard {
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

/* User information in the list */
.userinfo {
    font-family: 'Gloria Hallelujah', cursive;
}

#ytbImage {
    border: 2px dashed #83cee0;
    display: block;
    margin: 1.75rem auto;
}

/* margins for all the cards */
.card {
    margin: 2.75rem auto;
}

#video-adding {
    display: flex;
    justify-content: center;
}

.video-adding {
    margin: 0.5rem 0.15rem;
}

.videolist-title {
    font-size: 2.15rem;
}

.del-btn {
    margin: 0 0 27rem 3.75rem;
}